/* Styles for twitter matrix */

body {
	min-height: 100%;

	padding: 0;
	margin: 0;
	bottom: 0;
}

.myColumns {
	background-color: black;
	color: #00FF00;

	text-align: center;

	font-size: 2.5em;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;

	vertical-align: text-bottom;

	height: 1000px;
	
	overflow: auto;
}